<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
</div>

<script>

    let testWord = [
    {username: 'aaaaa', password: 1234}, {username: 'aaaaa', password: 1234}, {username: 'bbbbb', password: 1111}, {username: 'bbbbb', password: 1111},
        {username: 'ccccc', password: 1255}, {username: 'ccccc', password: 1255}
    ];

    let newWord = [];
    testWord.forEach((word) => {
        if (!newWord.some(item => item.username === word.username && item.password === word.password)) {
            newWord.push(word);
        }
    })

    newWord.forEach((include) => {
        console.log(include);
    })
</script>
</body>
</html>