
@import url(common.css);

/* on-detail */
body, html {
    height: 100%;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

.n_body {
    width: 100%;
}

.n_row {
    margin: 40px auto;
}

.n_first_movie_img #n_movie_img{
    width: 100%;
    height: 100%;
}

#n_fund_attention {
    background-color: var(--back_02);
    border-radius: 8px;
    padding: 16px;
    margin: 40px 0;
}

#n_fund_attention ul {
    display: flex;
    position: relative;
    margin: 0;
    flex-shrink: 0;
    cursor: pointer;
    padding: 0 0 0 4px;
    height: 54px;
    text-align: center;
    overflow: hidden;
}
#n_fund_attention li{
    margin-right: 30px;
    list-style: none;
    flex-basis: min-content;
    font-size: 13px;
}
.n_fund{
    display: inline-block;
    margin-bottom: 4px;
    width: 32px;
    height: 32px;
}
.n_refund{
    display: inline-block;
    margin-bottom: 4px;
    width: 32px;
    height: 32px;
}
.n_attention {
    margin-top: 14px;
    border-top: solid;

    border-top-color: var(--font_02);
    border-width: thin;
}
.n_attention #n_info{
    padding: 0 0 0 4px;
    margin: 14px 0 0 0;
    font-size: 12px;
}
#n_movie_info {
    margin: 40px 0 0
}
#n_movie_info h3 {
    color: var(--def_bl);
    font-weight: bold;
    margin: 0 0 20px;
}
#n_movie_info h4 {
    color: var(--font_03);
    font-weight: bold;
}

#n_movie_info h5 {
    color: var(--def_bl);
    padding: 14px;
    margin: 0;
    font-weight: bold;
}
#n_movie_info p {
    color: var(--font_03);
    padding: 0 14px;
    font-weight: 500;
}
#n_movie_info .n_movie_text {
    padding: 40px 0;
}

#n_movie_info .n_movie_img {
    padding: 40px 0;
}
#n_movie_info .n_movie_img img {
    width: 100%;
    padding: 0 14px 20px;
}
#n_director_img {
    width: 50%;
    padding: 0 14px;
}
.n_movie_text th {
    width: 20%;
    background-color: var(--back_02);
    text-align: center;
    color: var(--font_03);
}
.n_movie_text td {
    width: 30%;
    color: var(--font_03);
}
#n_toggle_button {
    width: 100%;
    border: solid 0.5px;
    border-color: var(--primary_01);
    border-radius: 8px;
    height: 50px;
    background: transparent;
    color: var(--primary_01);
    margin: 0px 0 40px;
}
#n_more_movie{
    margin-top: 20px;
}

#n_more_movie h4 {
    color: var(--font_03);
    font-weight: bold;
    margin-bottom: 20px;
}

#n_more_movie p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#n_more_movie .n_more_movie {
    width: 25%;
    margin-bottom: 30px;
}

#n_more_movie .n_more_movie img {
    width: 100%;
}

.n_more_movie .n_achieve {
    font-size: 18px;
    color: var(--primary_01);

  font-weight: bold;
}
.n_more_movie .n_title {
    display: block;
    font-weight: bold;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.n_more_movie .n_content{
    display: block;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.n_more_movie .n_directer {
    font-size: 12px;
    color: var(--font_02);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.n_movie_category {
    display: flex;
    justify-content: flex-start;
    border-bottom: solid;
    border-width: thin;
    border-color: var(--line_01);
    padding: 0 0 16px;
}

.n_movie_category #n_sharp{
    color: var(--primary_01);
    font-size: 14px;
    padding-right: 5px;
}
.n_movie_category #n_category{
    font-weight: 500;
    font-size: 13px;
}

.n_col_sm_5 p {
    margin: 0;
}

.n_sell_img{
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    font-weight: bold;
    color: var(--font_02);
    font-size: 14px;
}
.n_sell_img img {
    padding-right: 5px;
}
.n_movie_title {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.n_movie_title #n_state {
    font-weight: bold;
    font-size: 20px;
    color: var(--point_04);
    padding-right: 5px;
}

.n_movie_title #n_title {
    font-weight: bold;
    font-size: 20px;
    color: var(--def_bl);
}

.n_movie_content {
    font-size: 13px;
    color: var(--font_02);
    margin: 20px 0;
}
.n_sell_archive{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}
.n_sell_archive span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.n_sell_archive #n_percent{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary_01);
}
.n_sell_archive #n_per_comment{
    font-weight: 500;
    color: var(--primary_01);
    display: flex;
    padding: 0 14px 0 0;
}
.n_sell_archive #n_dday{
    height: 27px;
    padding: 0 8px;
    background-color: var(--point_01);
    color: var(--point_05);
    border-radius: 8px;
}

.n_sell_archive #n_dday p{
    font-size: 11px;
    height: 12px;
}

.n_sell_fund_state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.n_sell_fund_state span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.n_sell_fund_state #n_price{
    font-size: 24px;
    font-weight: bold;
    color: var(--def_bl);
}
.n_sell_fund_state #n_pri_comment{
    font-weight: 500;
    color: var(--def_bl);
    display: flex;
    padding: 0 14px 0 0;
}
.n_sell_fund_state #n_play{
    height: 27px;
    padding: 0 8px;
    background-color: var(--back_02);
    color: var(--def_bl);
    border-radius: 8px;
}

.n_sell_fund_state #n_play p{
    font-size: 11px;
    height: 12px;
}
.n_sell_period {
    width: 70%;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
}

.n_sell_period #n_fund_type, #n_period {
    display: block;
}

.n_sell_period #n_fund_type p, #n_period p {
    padding: 3px 0;
    color: var(--font_02);
    font-weight: 500;
}

.n_sell_period #n_fund_type {
    margin: 0 55px 0 0;
}

#n_sell_ticket {
    margin: 30px 0 20px;
}
#n_sell_ticket h5{
    font-weight: bold;
    padding-bottom: 10px;
}

#n_sell_ticket #ticket_title {
    color: var(--point_04);
}

.n_ticket_type #price {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.n_ticket_type {
    font-size: 13px;
    border: solid;
    border-width: thin;
    border-color: var(--line_01);
    border-radius: 10px;
    padding: 20px;
}

#n_sell_button {
    display: flex;
    align-items: center;
}
#n_sell_button .bookmark_button{
    width: 13%;
    height: 60px;
    background-color: transparent;
    border-radius: 8px;
    border-color: var(--line_01);
    box-shadow: none;
    margin: 0 12px 0 0;
    border-width: thin;
}
#n_sell_button .bookmark_button img {
    height: 22px;
    width: 22px;
}
#n_sell_button .buy_button {
    background-color: var(--point_05);
    height: 60px;
    width: 92%;
    border-radius: 8px;
    border-color: transparent;
    color: var(--def_wh);
    font-size: 20px;
}

/*/////////////////////////////////////////////////////*/
/* off-detail */

.n_ticket_count {
    display: flex;
    justify-content: end;
}

.n_ticket_count .n_count_button {
    display: flex;
    align-items: center;
    border: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: var(--line_01);
    width: 98px;
    height: 30px;
    text-align: center;
}
.n_count_button #n_minus_button {
    border: none;
    width: 33%;
    background: none;
    border-right: solid;
    border-color: var(--line_01);
    border-width: thin;
    height: 30px;
}
.n_count_button .n_count {
    width: 33%;
}

.n_count_button #n_plus_button {
    border: none;
    width: 33%;
    background: none;
    border-left: solid;
    border-color: var(--line_01);
    border-width: thin;
    height: 30px;
}

.n_theater_info, .n_parking_info {
    font-weight: bold;
}
.n_name {
    color: var(--point_04);
    font-weight: bold;
}
/*/////////////////////////////////////////////////////*/
/*select_day*/
.n_custom_fluid {
    width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#n_pay_step {
    width: 33%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#n_pay_step ol {
    list-style: none;
    display: flex;
    justify-content: center;
    background: url(https://www.wadiz.kr/resources/static/img/common/bg_gray_line.png) repeat-x 0 center;
    margin: 0 auto;
    padding: 0;
    align-items: normal;
}

.n_other_li {
    float: left;
    display: block;
    width: 33%;
}

.n_middle_li {
    width: 33%;
    margin: 0 70px;
}

.n_pay_step_choice{
    width: 114px;
    height: 68px;
    background-color: var(--primary_01);
    color: var(--def_wh);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: 16px;
}

.n_pay_step_p {
    width: 114px;
    height: 68px;
    background-color: var(--def_wh);
    color: var(--font_02);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: 16px;
    border: 1px dashed var(--line_01);
    padding: 0;
}

#n_select_day {
    display: flex;
    margin-top: 40px;
    border: 0.5px solid var(--line_01);
    border-radius: 20px;
}

.n_movie_calendar {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 34px;
    border-right: 0.5px solid var(--line_01);
}

.n_movie_calendar #n_activeCal {
    width: 0;
    border: none;
}

.n_select_day_movies {
    width: 50%;
    flex-direction: column;
    text-align: center;
    padding: 34px;
}

.n_select_day_movies p {
    margin: 0;
}

.n_select_day_movies #n_otherInput {
    border: none;
    background: var(--def_wh);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--primary_01);
}

#n_day_movies_form {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: thin;
    border-color: var(--line_01);
}

#n_day_movies_form #select_movie_button {
    border: none;
    background-color: transparent;
    width: 100%;
}

#n_day_movies {
    display: flex;
    padding: 10px 10px 0 10px;
}

#n_movie_time {
    margin-right: 16px;
}

#n_movie_time .n_start_time {
    font-weight: bold;
    color: var(--def_bl);
    font-size: 14px;
}

#n_movie_time .n_end_time {
    color: var(--def_bl);
    font-size: 12px;
}

#n_day_movies_form #n_movie_title {
    font-size: 16px;
    color: var(--def_bl);
}

#n_seat {
    display: flex;
    justify-content: end;
}

#n_seat_count {
    display: flex;
    padding: 2px 4px;
    border: solid;
    border-width: thin;
    border-color: var(--line_01);
    border-radius: 3px;
    width: 55px;
}

#n_seat_count .n_possible_seat {
    font-size: 11px;
    font-weight: bold;
    color: var(--primary_01);
}

#n_seat_count .n_all_seat {
    font-size: 11px;
    font-weight: bold;
}
/*/////////////////////////////////////////////////////*/
/* off_payment */
#n_select_movie_pay {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#n_select_movie_pay p {
    margin-bottom: 7px;
}

.n_pay {
    width: 50%;
    border: 0.5px solid var(--line_01);
    border-radius: 20px;
    padding: 35px;
}

.n_pay #n_movie_title, .n_movie_day{
    display: flex;
}

#n_movie_title img {
    width: 22px;
    height: 22px;
    margin: 4px 4px 4px 0;
}

#n_movie_title p {
    font-size: 14px;
    font-weight: bold;
}

.n_movie_day #n_day {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.n_movie_day #n_time {
    font-size: 13px;
    text-align: center;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.n_movie_place {
    margin: 14px 0;
}

.n_movie_place #n_place {
    font-size: 16px;
    font-weight: bold;
    color: var(--point_04);
}

.n_movie_place #n_address, #n_number {
    font-size: 12px;
}

.n_people_and_pay {
    background-color: var(--back_02);
    padding: 30px;
    border-radius: 15px;
}

.n_people {
    display: flex;
    border-bottom: 0.5px solid;
    padding-bottom: 10px;
}
.n_people p{
    font-weight: bold;
}

.n_total_pay {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.n_total_pay p {
    font-weight: bold;
}

.n_total_pay #n_price {
    color: var(--primary_01);
}

#n_payment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0 0;
}
/*/////////////////////////////////////////////////////*/
/* on_payment */

#n_select_movie {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--def_wh);
    height: 60px;
    background-color: var(--font_01);
}
#n_select_movie h5 {
    margin: 0;
}

.n_select_row {
    margin: 40px auto;
    max-width: 830px;
}

.n_select_form {
    display: flex;
    padding: 0;
    height: 190px;
}

.n_select_form #n_movie_img {
    border-radius: 10px;
    margin-right: 24px;
    width: 43%;
}
.n_form_check_detail #n_ticket_type {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary_01);
    margin-bottom: 15px;
}
.n_form_check_detail p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.n_form_check_detail #n_movie_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 28px;
}

.n_form_check_detail #n_movie_content{
    font-size: 14px;
    margin-bottom: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.n_form_check_detail .n_show_period {
    display: flex;
    color: var(--font_02);
    font-weight: bold;
}
.n_show_period img {
    margin: 0 6px 0 0;
}

.n_select_price{
    display: flex;
    flex-direction: column;
    background: var(--back_02);
    border-radius: 10px;
    padding: 22px;
    margin: 24px 0;
}
.n_select_price #n_ticket_title {
    font-size: 16px;
    font-weight: bold;
}
.n_select_price #n_select_price {
    display: flex;
    align-content: normal;
    justify-content: flex-end;
    font-weight: bold;
}
.n_donation {
    padding: 0;
    margin: 25px 0;
    width: 90%;
}
.n_donation .n_info {
    display: flex;
    justify-content: space-between;
}

.n_info #n_donation_title{
    font-weight: bold;
}
.n_info .n_donation_comment {
    font-size: 14px;
    color: var(--font_02);
}
.n_donation_price {
    display: flex;
    justify-content: end;
    align-items: baseline;
}
.n_donation_price input {
    width: 15%;
    font-size: 14px;
}
.n_total_price {
    display: flex;
    justify-content: center;
}
.n_total_price #n_total_price {
    font-weight: bold;
    color: var(--primary_01);
    padding-left: 5px;
}
.n_total_comment {
    font-weight: bold;
    color: var(--font_01);
}
#n_next_button {
    background-color: green;
    width: 17%;
    border: none;
    padding: 13px 0;
    color: var(--def_wh);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

#n_on_pay_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* reservation_ticket */
#n_reservation_ticket {
    background-image: url("../images/icons/ticket_image.svg");
    background-size: cover;
    width: 100%;
    height: 257px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 40px;
}

.n_detail span {
    display: flex;
}

#n_reservation_ticket .n_movie_img {
    margin: 0 94px 0 10px;
}

#n_reservation_ticket .n_movie_img img {
    width: 154px;
    height: 218px;
}

.n_reservation_detail {
    width: 34%;
    margin-right: 94px;
}

.n_reservation_detail p {
    margin-bottom: 10px;
    font-size: 14px;
}

.n_reservation_detail #n_comment p {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.n_reservation_detail .n_title {
    padding-right: 22px;
}

.n_seat_number {
    padding-right: 8px;
}

.n_detail #n_day, #n_place{
    padding-right: 8px;
    font-weight: bold;
}

.n_reservation_number {
    width: 22%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.n_reservation_number #n_title {
    font-size: 20px;
    font-weight: bold;
    color: dimgray;
}

.n_reservation_number #n_number {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

#n_reservation_list_button {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

#n_reservation_list_button #n_button {
    border: none;
    padding: 16px 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: green;
    border-radius: 10px;
}

#n_attention_comment {
    border: 0.5px solid var(--line_01);
    padding: 26px 26px 16px 26px;
}

#n_attention_comment p {
    margin-bottom: 10px;
}

#n_attention_comment .n_comment {
    font-size: 14px;
    padding-left: 10px;
}

/* select_seat */
#n_select_seat {
    display: flex;
    margin-top: 40px;
}

#n_movie_seat {
    width: 60%;
    height: 427px;
    border: 0.5px solid var(--line_01);
    border-radius: 10px;
}

#n_select_movie_seat {
    margin-left: auto;
    width: 36%;
    height: 427px;
    border: 0.5px solid var(--line_01);
    border-radius: 10px;
    border-color: var(--primary_01);
}

#n_movie_seat .n_last_count {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px 10px 0 0;
    background: var(--back_02);
}

.n_last_count .n_count_person {
    display: flex;
    font-size: 17px;
    font-weight: 600;
    padding: 0 11px 2px 0;
}

.n_last_count_button {
    display: flex;
    align-items: center;
    border: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: var(--line_01);
    width: 88px;
    height: 25px;
    text-align: center;
    font-size: 15px;
}

.n_last_count_button #n_minus_button {
    border: none;
    width: 33%;
    background: none;
    border-right: solid;
    border-color: var(--line_01);
    border-width: thin;
    height: 25px;
}

.n_last_count_button .n_count {
    width: 33%;
}

.n_last_count_button #n_plus_button {
    border: none;
    width: 33%;
    background: none;
    border-left: solid;
    border-color: var(--line_01);
    border-width: thin;
    height: 25px;
}
.n_seat {
    width: 26px;
    height: 26px;
    background-color: var(--back_02);
    border: 0.5px solid var(--line_01);
    border-radius: 4px;
    font-size: 9px;
    text-align: center;
}

.n_clicked {
    width: 26px;
    height: 26px;
    background-color: var(--primary_01);
    border: 0.5px solid var(--line_01);
    border-radius: 4px;
}

.n_exist {
    background-color: var(--font_03);
    color: var(--def_wh);
    border: 0.5px solid var(--line_01);
    border-radius: 4px;
    font-size: 9px;
    font-weight: bold;
    width: 26px;
    height: 26px;
}

.n_hidden {
    border: none;
    background-color: transparent;
    width: 26px;
    height: 26px;
    color: var(--def_wh);
}

#n_seat_and_attention {
    display: flex;
    width: auto;
}

#n_seat_and_attention span {
    display: flex;
    font-size: 14px;
}

#n_attention_seat{
    margin: 40px auto 0 0;
}

#n_attention_seat #n_choice {
    height: 22px;
    width: 22px;
    background-color: var(--primary_01);
    border: 0.5px solid var(--line_01);
    border-radius: 4px;
    margin: 0px 10px 10px 0px;
}

#n_attention_seat #n_exist {
    height: 22px;
    width: 22px;
    background-color: var(--font_03);
    color: var(--def_wh);
    border: 0.5px solid var(--line_01);
    border-radius: 4px;
    font-size: 9px;
    font-weight: bold;
    margin: 0px 10px 10px 0px;
}

#n_attention_seat #n_possible {
    height: 22px;
    width: 22px;
    background-color: var(--back_02);
    border: 0.5px solid var(--line_01);
    border-radius: 4px;
    margin: 0px 10px 10px 0px;
}

#n_seat_wrapper {
    margin: 40px 28px;
}

#n_select_info {
    padding: 26px 26px 0;
}

#n_select_info #n_img img {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
}

#n_select_info #n_movie_title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#n_movie_day_and_time {
    margin-top: 10px;
}

#n_movie_day_and_time #n_day {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
}

#n_movie_day_and_time #n_time {
    font-size: 12px;
    font-weight: bold;
}

.n_select_count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.n_select_seat_wrapper {
    border: 0.5px solid var(--line_01);
    margin: 20px 0;
    padding: 15px;
}
.n_last_seat {
    width: 13%;
    height: 36px;
}

.n_select_list {
    display: flex;
    justify-content: space-between;
}

.n_select_list .n_last {
    font-size: 12px;
    font-weight: bold;
    width: 13%;
    height: 36px;
    background-color: var(--point_02);
    border: none;
    border-radius: 2px;
    color: var(--def_wh);
}

.n_last_price {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: var(--def_bl);
}

#n_payment_button {
    width: 100%;
    border: none;
    background-color: var(--primary_01);
    padding: 23px;
    border-radius: 0 0 10px 10px;
}

.n_last_price #n_price {
    padding-left: 5px;
}

.n_last_price #n_person_count {
    padding-right: 5px;
}