body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff; }

p {
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/*여기 아래 부터는 커스텀*/

.n_custom_fluid {
  width: 900px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#n_pay_step {
  width: 33%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#n_pay_step ol {
  list-style: none;
  display: flex;
  justify-content: center;
  background: url(https://www.wadiz.kr/resources/static/img/common/bg_gray_line.png) repeat-x 0 center;
  margin: 0 auto;
  padding: 0;
  align-items: normal;
}

.n_other_li {
  float: left;
  display: block;
  width: 33%;
}

.n_middle_li {
  width: 33%;
  margin: 0 70px;
}

.n_pay_step_choice{
  width: 114px;
  height: 68px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-size: 16px;
}

.n_pay_step_p {
  width: 114px;
  height: 68px;
  background-color: white;
  color: dimgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-size: 16px;
  border: 1px dashed lightgray;
  padding: 0;
}

#n_select_day {
  display: flex;
  margin-top: 40px;
  border: 0.5px solid lightgray;
  border-radius: 20px;
}

.n_movie_calendar {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 34px;
  border-right: 0.5px solid lightgray;
}

.n_select_day_movies {
  width: 50%;
  flex-direction: column;
  text-align: center;
  padding: 34px;
}

.n_select_day_movies p {
  margin: 0;
}

.n_select_day_movies #result {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
}

#n_day_movies_form {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}

#n_day_movies_form #select_movie_button {
    border: none;
    background-color: transparent;
    width: 100%;
}

#n_day_movies {
  display: flex;
  padding: 10px 10px 0 10px;
}

#n_movie_time {
  margin-right: 16px;
}

#n_movie_time .n_start_time {
  font-weight: bold;
  color: black;
}

#n_movie_time .n_end_time {
  color: black;
  font-size: 13px;
}

#n_day_movies_form #n_movie_title {
  font-size: 16px;
  color: black;
}

#n_seat {
  display: flex;
  justify-content: end;
}

#n_seat_count {
  display: flex;
  padding: 2px 4px;
  border: solid;
  border-width: thin;
  border-color: lightgray;
  border-radius: 3px;
  width: 55px;
}

#n_seat_count .n_possible_seat {
  font-size: 12px;
  font-weight: bold;
  color: green;
}

#n_seat_count .n_all_seat {
  font-size: 12px;
  font-weight: bold;
}

/* select_movie_pay */

#n_select_movie_pay {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#n_select_movie_pay p {
  margin-bottom: 7px;
}

.n_pay {
  width: 50%;
  border: 0.5px solid lightgray;
  border-radius: 20px;
  padding: 35px;
}

.n_pay #n_movie_title, .n_movie_day{
  display: flex;
}

#n_movie_title img {
  width: 22px;
  height: 22px;
  margin: 4px 4px 4px 0;
}

#n_movie_title p {
  font-size: 20px;
  font-weight: bold;
}

.n_movie_day #day {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.n_movie_day #time {
  font-size: 13px;
  text-align: center;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.n_movie_place {
  margin: 14px 0;
}

.n_movie_place #place {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.n_movie_place #address, #number {
  font-size: 12px;
}

.n_people_and_pay {
  background-color: lightgray;
  padding: 30px;
  border-radius: 15px;
}

.n_people {
  display: flex;
  border-bottom: 0.5px solid;
  padding-bottom: 10px;
}
.n_people p{
  font-weight: bold;
}

.n_total_pay {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.n_total_pay p {
  font-weight: bold;
}

.n_total_pay #price {
  color: green;
}

#n_payment{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 60px 0 0;
}

/* reservation_ticket */
 #n_reservation_ticket {
   background-image: url("../images/ticket_image.svg");
   background-size: cover;
   width: 100%;
   height: 258px;
   display: flex;
   justify-content: flex-start;
   padding: 20px;
   margin-top: 40px;
 }

 .n_detail span {
   display: flex;
 }

 .n_movie_img {
   margin: 0 94px 0 10px;
 }

 .n_movie_img img {
   width: 154px;
   height: 218px;
 }

 .n_reservation_detail {
   width: 34%;
   margin-right: 94px;
 }

 .n_reservation_detail p {
   margin-bottom: 10px;
   font-size: 14px;
 }

 .n_reservation_detail #n_comment p {
   color: green;
   font-size: 20px;
   font-weight: bold;
 }

 .n_reservation_detail .n_title {
   padding-right: 22px;
 }

 .n_seat_number {
   padding-right: 8px;
 }

 .n_detail #n_day, #n_place{
   padding-right: 8px;
   font-weight: bold;
 }

 .n_reservation_number {
   width: 22%;
   text-align: center;
   flex-direction: column;
   display: flex;
   justify-content: center;
 }

 .n_reservation_number #n_title {
   font-size: 20px;
   font-weight: bold;
   color: dimgray;
 }

 .n_reservation_number #n_number {
   font-size: 20px;
   font-weight: bold;
   color: green;
 }

 #n_reservation_list_button {
   margin: 40px 0;
   display: flex;
   justify-content: center;
 }

 #n_reservation_list_button #n_button {
   border: none;
   padding: 16px 50px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   background-color: green;
   border-radius: 10px;
 }

 #n_attention_comment {
   border: 0.5px solid lightgray;
   padding: 26px 26px 16px 26px;
 }

 #n_attention_comment p {
   margin-bottom: 10px;
 }

 #n_attention_comment .n_comment {
   font-size: 14px;
   padding-left: 10px;
 }