<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link rel="stylesheet" href="css/reset.css">-->
    <style>
        .seat {
            width: 30px;
            height: 30px;
            font-size: 10px;
            text-align: center;
        }
        /* div 크기*/

        .clicked {
            background-color: red;
            color: white;
        }
        /* 선택시 자리 컬러 변경 */

        .exist {
            background: black;
            color: white;
        }
        /* 이미 선택된 자리(비활성) */
        .hidden {
            border: none;
            background-color: transparent;
            height: 30px;
            width: 30px;
            color: white;
        }
        /* 숨겨진 자리 */
    </style>
</head>
<body>
    <div class="seat-wrapper"></div>
</body>
<script>
    const seatWrapper = document.querySelector(".seat-wrapper"); // 극장 자리들
    let existSeats = new Array(); // 이미 선택된 자리(비활성화)
    let clickedSeats = new Array(); // 선택한 모든 자리
    let exist = ""; // 이미 선택된 자리에 넣을 class명
    let click = ""; // 선택한 자리에 넣을 class 명
    let div = ""; // 추가할 tag

    let selectedSeatsData = ['A1', 'A2', 'A3'];

    window.onload = function (){
        selectedSeat();
    };

    // * (7 * 7) 자리 하기
    for(let i = 0; i < 10; i++) {
        div = document.createElement("div"); // div 태그 생성
        seatWrapper.append(div); // 해당 div 태그를 seatWrapper에 추가

        // * 이중 for문
        // 1줄에 div가 생성되면 (예. A줄) A1, A2, A3과 같은 input 태그를 추가
        for(let j = 0; j < 14; j++) {
            let input = document.createElement("input"); // input 태그 생성
            div.append(input); // 해당 input 태그를 div에 추가
            input.type = "button";
            input.name = "seats";
            input.classList = "seat";
            input.disabled = false;

            // input 태그가 생성 시 value값 지정하기
            mapping(input, i, j);
            // input 태그를 div 안에 구현
            div.append(input);

            function selectedSeat(){
                // selectedSeatsData = ['A1', 'A2', 'A3'];
                // input.value가 A1 인 것 찾기
                exist = document.querySelector("input[value='A1']"); // input 태그
                // console.log("exist : " + exist.value); // 찾음

                //for문 돌면서 찾기
                selectedSeatsData.forEach(existSeat => {
                    exist = document.querySelector("input[value='"+ existSeat +"']");
                    existSeats.push(exist);
                })

                if(existSeats != null){
                    existSeats.forEach(input => {
                        input.classList.add("exist");
                        input.disabled = true;
                        input.value = "X";
                    })
                }
                console.log("선택 불가능한 자리 : " + existSeats.values());

            }

            input.addEventListener("click", function (e) {
                // console.log(e.target.value); // e = F12에서 확인 가능, c6
                // selectedSeats.push(e.target.value);
                // console.log(selectedSeats); // 이렇게 하면 선택한 값이 계속 배열에 중복으로 들어간다.

                // 중복 제거
                clickedSeats = clickedSeats.filter((select, seats) => clickedSeats.indexOf(select) != seats);

                // 1. 자리를 클릭하면 input 태그의 class 명 =  seat clicked
                // 2. 자리를 다시 클릭(해제)하면 class 명 = seat
                // 3. 이미 자리가 선택되었다면 class 명 = seat selected

                // 2.
                if(input.classList.contains("clicked")){
                    input.classList.remove("clicked"); // 선택된 자리의 class 명 중 clicked 제거
                    clicked = document.querySelectorAll(".clicked"); // 제거되고 남은 모든 clicked input 선택
                    clicked.forEach(select => {
                        clickedSeats.push(select.value);
                    })
                    console.log("선택한 자리 : " + clickedSeats);
                }
                // 1.
                else{
                    input.classList.add("clicked"); // 선택한 자리의 class 명에 clicked 추가
                    clicked = document.querySelectorAll(".clicked"); // 추가되고 모든 clicked input 선택
                    clicked.forEach(select => {
                        clickedSeats.push(select.value);
                    })
                    console.log("선택한 자리 : " + clickedSeats);
                }
            })
        }
    }

    function mapping(input, i, j) {

        if (i == 0) {
            input.value = "A" + j; // 0번 줄의 value는 A1
            if ((j == 0 || j == 1)) {
                input.classList.add("hidden");
                input.disabled = true;
            }
            if ((j == 12 || j == 13)) {
                input.classList.add("hidden");
                input.disabled = true;
            }
        } else if (i == 1) {
            input.value = "B" + j; // 1번 줄의 value는 B1
            if (j == 0 || j == 13) {
                input.classList.add("hidden");
                input.disabled = true;
            }
        } else if (i == 2) {
            input.value = "C" + j; // 2번 줄의 value는 C1
        } else if (i == 3) {
            input.value = "D" + j; // 3번 줄의 value는 D1
        } else if (i == 4) {
            input.value = "E" + j; // 4번 줄의 value는 E1
        } else if (i == 5) {
            input.value = "F" + j; // 5번 줄의 value는 F1
        } else if (i == 6) {
            input.value = "G" + j; // 5번 줄의 value는 F1
        } else if (i == 7) {
            input.value = "H" + j; // 5번 줄의 value는 F1
        } else if (i == 8) {
            input.value = "I" + j; // 5번 줄의 value는 F1
        } else if (i == 9) {
            input.value = "J" + j; // 5번 줄의 value는 F1
        }
        if (j == 3 || j == 9) {
            input.style = 'margin-right:60px;';
        }
    }
    </script>
</html>